.cardDetailingContainer {
  position: relative;
  max-height: 366px;
  height: 100%;
}
.cardDetailingContainerOpened {
  max-height: 1091px;
}
.cardContainer {
  height: 366px;
  width: 275px;
  background: rgba(38, 38, 38, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
}

.cardContainer:hover {
  background: #a3a3a325;
  cursor: pointer;
}
.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cardTitle {
  font-size: var(--font-14);
  color: var(--color-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.cardBrand {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-12);
  color: var(--color-gray);
  margin-bottom: 12px;
}
.cardBrandBall {
  font-size: 6px;
  color: var(--color-gray);
  position: relative;
  top: -1px;
}
.cardButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cardButtonsLeft {
  display: flex;
  gap: 12px;
}
