.main {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.cardsContainer {
  min-height: 100vh;
  width: 1840px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
}
@media (max-width: 1839px) {
  .cardsContainer {
    width: 1527px;
  }
}
@media (max-width: 1839px) {
  .cardsContainer {
    width: 1527px;
  }
}
@media (max-width: 1610px) {
  .cardsContainer {
    width: 1214px;
  }
}
@media (max-width: 1290px) {
  .cardsContainer {
    width: 901px;
  }
}
@media (max-width: 1290px) {
  .cardsContainer {
    width: 901px;
  }
}
@media (max-width: 970px) {
  .cardsContainer {
    width: 588px;
  }
}
@media (max-width: 970px) {
  .cardsContainer {
    width: 588px;
  }
}
@media (max-width: 660px) {
  .cardsContainer {
    width: 270px;
  }
}
