.iconButton {
  width: 48px;
  height: 48px;
  border: 1px solid var(--color-gray-dark);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
  background: none;
  font-size: var(--font-16);
  padding: 0;
}
.iconButton:hover {
  border: 1px solid var(--color-white);
  background: var(--color-white);
  color: var(--color-dark);
}
